doctype html
html
  head
    title My Requests
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

  body
    .container
      h2 Stats
      form(name="edit-request" method="post" action=`/request/edit/${request.id}?_method=PUT`)
        .row
          div(class="col s12 m6")
            //- img(class="responsive-img" id="avatar" src=`/sprites/pokemon/${pokemon.pokemon_id}.png` height="200px" width="200px")
            div(class="input-field")
              input(type="text" class="validate" name="name" value=request.name placeholder=request.name)

          div(class="col s12 m6")
            h5 Attributes
            .row
              div(class="input-field col s6")
                select(name="ability")
                  option(value=request.ability selected) #{request.ability}
                  each ability in pokemon.Abilities
                    option(value=ability.identifier) #{ability.identifier}

              div(class="input-field col s6")
                select(name="nature")
                  option(value=request.nature selected) #{request.nature}
                  option(value="Hardy") Hardy
                  option(value="Lonely") Lonely
                  option(value="Adamant") Adamant
                  option(value="Naughty") Naughty
                  option(value="Brave") Brave
                  option(value="Bold") Bold
                  option(value="Docile") Docile
                  option(value="Impish") Impish
                  option(value="Lax") Lax
                  option(value="Relaxed") Relaxed
                  option(value="Modest") Modest
                  option(value="Mild") Mild
                  option(value="Bashful") Bashful
                  option(value="Rash") Rash
                  option(value="Quiet") Quiet
                  option(value="Calm") Calm
                  option(value="Gentle") Gentle
                  option(value="Careful") Careful
                  option(value="Quirky") Quirky
                  option(value="Sassy") Sassy
                  option(value="Timid") Timid
                  option(value="Hasty") Hasty
                  option(value="Jolly") Jolly
                  option(value="Naive") Naive
                  option(value="Serious") Serious
            .row
              div(class="input-field col s6")
                select(name="item")
                  option(value=request.item selected) #{request.item}
                  each item in items
                    option(value=item.identifier data-icon=`/sprites/items/${item.identifier}.png`) #{item.identifier}
                    
              div(class="input-field col s6")
                select(name="gender")
                  option(value=request.gender selected) #{request.gender}
                  option(value="Female") Female
                  option(value="Male") Male
            .row
              div(class="input-field col s12")
                input(id="level" type="number" class="validate" name="level" value=request.level)
                label(for="level") Minimum Level

          div(class="col s12 m6")
            h5 Moves
            select(class="input-field col s12")
              option(value=request.move_1 selected name="move_1") #{request.move_1}
                each move in pokemon.Moves
                  option(value=move.identifier) #{move.identifier}
            select(class="input-field col s12")
              option(value=request.move_2 selected name="move_2") #{request.move_2}
                each move in pokemon.Moves
                  option(value=move.identifier) #{move.identifier}
            select(class="input-field col s12")
              option(value=request.move_3 selected name="move_3") #{request.move_3}
                each move in pokemon.Moves
                  option(value=move.identifier) #{move.identifier}
            select(class="input-field col s12")
              option(value=request.move_4 selected name="move_4") #{request.move_4}
                each move in pokemon.Moves
                  option(value=move.identifier) #{move.identifier}

          div(class="col s1 m6")
            h5 IV Spread
            select(class="input-field col s12" name="hp_iv")
              option(value="null" disabled selected) HP
                option(value="null") N/A
                option(value="0") 0
                option(value="31") 31
            select(class="input-field col s12" name="attack_iv")
              option(value="null" disabled selected) Attack
                option(value="null") N/A
                option(value="0") 0
                option(value="31") 31
            select(class="input-field col s12" name="defense_iv")
              option(value="null" disabled selected) Defense
                option(value="null") N/A
                option(value="0") 0
                option(value="31") 31
            select(class="input-field col s12" name="sp_att_iv")
              option(value="null" disabled selected) Sp. Attack
                option(value="null") N/A
                option(value="0") 0
                option(value="31") 31
            select(class="input-field col s12" name="sp_def_iv")
              option(value="null" disabled selected) Sp. Defense
                option(value="null") N/A
                option(value="0") 0
                option(value="31") 31
            select(class="input-field col s12" name="speed")
              option(value="null" disabled selected) Speed
                option(value="null") N/A
                option(value="0") 0
                option(value="31") 31
        .row
          div(class="input-field col s12")
            textarea(id="textarea1" class="materialize-textarea" name="comment")
            label(for="textarea1") Additional Comments
        input.btn(type="submit" value="Update Request")


    script
      include ../node_modules/jquery/dist/jquery.min.js
      include ../node_modules/materialize-css/dist/js/materialize.min.js
      include ../node_modules/materialize-css/extras/nouislider/nouislider.min.js
    script(src="/javascript/main.js" type="text/javascript")
    script(src="/javascript/request.js" type="text/javascript")