doctype html
html
  head
    title Pokemon Social Marketplace
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")

  body
    include partials/nav.pug
    .container
      block content
        .row
          if inbox.Threads.id
            each obj in inbox.Threads
              a(href=`${obj.id}/`)
                div(class="col s12")
                  div(class="card-panel grey lighten-5 z-depth-1")
                    div(class="row valign-wrapper")
                      div(class="col s1")
                        span.name #{obj.Messages[0].User.first_name}
                        img(src=`/images/${obj.Messages[0].User.avatar}` alt="" class="responsive-img")
                      div(class="col s11")
                        p #{obj.Messages[0].message}
                        p #{obj.Messages[0].date}
          else
            p
              |Your inbox is currently empty. Your inbox will become active after you have accepted an offer, or after someone accepts your offer.
            p
              |Click "My Requests" in the navigation bar to see if an offer was made for any of your requests.
        
    script
      include ../node_modules/jquery/dist/jquery.min.js
      include ../node_modules/materialize-css/dist/js/materialize.min.js
    script(src="/client/client.js" type="text/javascript")
    script(src="/javascript/main.js" type="text/javascript")
    script(src="/javascript/request.js" type="text/javascript")
