extends request.pug

block content
  body
    .container
      each request in user.Requests
        div(class="col s12 m8 offset-m2 l6")
          div
            div(class="row valign-wrapper")
                div(class="col s2")
                  img(src=`/sprites/pokemon/${request.species_id}.png` alt=request.name class="responsive-img")
                div(class="col s10") #{request.name}
                    ul  
                      li Level: #{request.level}
                      li Nature: #{request.nature}
                      li Ability: #{request.ability}
                      li Held Item: #{request.item}
          a(class="btn" href=`${session.passport.user.id}/view/${request.id}`) View
          a(class="btn" href="#") Edit
          a(class="btn" href="#") Delete