extends request.pug

block content
  body
    .container
      .row
        if user.Requests
          each request in user.Requests
            div(class="col s12 m8 offset-m2 l4")
              div.border
                div(class="row valign-wrapper")
                    div(class="col s3")
                      span.name #{request.name}
                      img(src=`/sprites/pokemon/${request.species_id}.png` alt=request.name class="responsive-img")
                    div(class="col s8") 
                      ul  
                        li Level: #{request.level}
                        li Nature: #{request.nature}
                        li Ability: #{request.ability}
                        li Held Item: #{request.item}
                a(class="btn pink-button col s6" href=`${session.passport.user.id}/view/${request.id}`) View Details
                a(class="btn purple-button col s6" href=`/blue`) Delete
        else
          p
            |You currently have no requests. Click "Post New Request" in the navigation bar to request the Pokemon you are searching for.