extends request.pug

block content
  div(class="col s12 m8 offset-m2 l6")
    div
      div(class="row")
          div(class="col s1 offset-m4")
            img(src=`/images/${trade.User.avatar}` alt=trade.User.avatar class="responsive-img")
          div(class="col s11 m7") 
            span.name #{trade.User.first_name} #{trade.User.last_name}
            a(class="waves-effect waves-light btn" href=`/accept/${session.passport.user.id}/${trade.User.id}`) Accept
      div(class="row center-align")
          p.indicator #{trade.User.first_name} wants to trade with you!
      div(class="col s12 m8 offset-m2 l6")
        div(class="section area")
          div(class="row valign-wrapper")
            div(class="col s3 l2 offset-l5")
              span(class="name") #{trade.name}
              img(src=`/sprites/pokemon/${trade.species_id}.png` alt=trade.name class="responsive-img")
            div(class="col s9 l10")
                ul  
                  li Level: #{trade.level}
                  li Nature: #{trade.nature}
                  li Ability: #{trade.ability}
                  li Held Item: #{trade.item}
          div(class="row center-align")
            div(class="col s4") 
              span(class="indicator") Moves
              .row
                    ul(class="col s12")
                      li Move 1: #{trade.move_1}
                      li Move 2: #{trade.move_2}
                      li Move 3: #{trade.move_3}
                      li Move 4: #{trade.move_4}
            div(class="col s6") 
              span(class="indicator") IV Spread
              .row
                    ul(class="col s6")  
                      li HP: #{trade.hp_iv}
                      li Attack: #{trade.attack_iv}
                      li Defense: #{trade.defense_iv}
                      li Sp. Attack: #{trade.sp_att_iv}
                    ul(class="col s6")
                      li Sp. Defense: #{trade.sp_def_iv}
                      li Speed: #{trade.speed_iv}
          .row
            div.center-align
              p.indicator Comment:
              p #{trade.comment}